<template>
<aside class="control-sidebar control-sidebar-dark" ref="control">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li><a href="javascript:void(0)" @click="close"><i class="fa fa-angle-double-right"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Home tab content -->
        <div class="tab-pane active">
            <h3 class="control-sidebar-heading">你好，管理员</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon fa fa-user bg-yellow"></i>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">密码管理</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <i class="menu-icon fa fa-power-off bg-red"></i>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">退出系统</h4>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- /.control-sidebar-menu -->
        </div>
        <!-- /.tab-pane -->
    </div>
</aside>
</template>

<script>
export default {
    name: "control-sidebar",
    methods: {
      close() {
        this.$refs.control.classList.remove("control-sidebar-open");
      }
    }
}
</script>

<style>
.control-sidebar-menu .menu-info>.control-sidebar-subheading {
    padding-top: 6px;
    padding-left: 2px;
}
body .control-sidebar {
  position: fixed;
}  
</style>
