<template>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Vue Lte</h1>
        <!--
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> Home</li>
            <li>Home</li>
            <li class="active">Home</li>
        </ol>
        -->
        <ol class="breadcrumb">
            <li class="active">操作左侧导航栏管理</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <router-view></router-view>
    </section>
    <!-- /.content -->
</div>
</template>

<script>
export default {
    name: 'layout-content'
}
</script>

<style>
.content-wrapper .content-header>.breadcrumb {
    position: relative;
    margin-top: 15px;
    top: 0;
    right: 0;
    float: none;
    background: #d2d6de;
    padding-left: 10px;
}
</style>
