<template>
  <footer class="main-footer">
    <!--
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.3.8
    </div>
    -->
    <strong>Copyright &copy; 2016-2020 All rights reserved
  </footer>
</template>

<script>
export default {
    name: 'layout-footer'
}
</script>
