<template>
<header class="main-header">
    <!-- Logo -->
    <router-link :to="{ path: '/'}" class="logo">
        <span class="logo-mini"><b>V</b>LT</span>
        <span class="logo-lg"><b>Vue</b> LTE</span>
    </router-link>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="javascript:void(0)" class="sidebar-toggle" @click="sidebarToggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="javascript:void(0)"  @click="controlSidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
</template>

<script>
export default {
    name: 'layout-header',
    methods: {
      sidebarToggle() {          
         let classNames = document.body.classList;
         if(classNames.contains("sidebar-mini")) {
           classNames.remove("sidebar-mini","sidebar-collapse")
         } else {
           classNames.add("sidebar-mini","sidebar-collapse")
         }
      },
      controlSidebar() {
         document.querySelector(".control-sidebar").classList.toggle("control-sidebar-open");
      }
    }
}
</script>
