<template>
  <div class="page">
      <h2 class="headline text-yellow"><i class="fa fa-home"></i></h2>
      <div class="text-content">
        <h3><i class="fa fa-smile-o text-yellow"></i>  你好! 管理员</h3>
      </div>
  </div>
</template>

<script>
export default {
    name: 'home'
}
</script>

<style scope>
.page>.headline {
    text-align: center;
    font-size: 120px;
    font-weight: 300;
}
.page>.text-content>h3 {
    text-align: center;
}
.page>.text-content>h3 {
    font-weight: 300;
    font-size: 25px;
}
</style>
