<template>
<div class="wrapper">
    <layout-header></layout-header>
    <layout-sidebar></layout-sidebar>
    <layout-content></layout-content>
    <layout-footer></layout-footer>
    <control-sidebar></control-sidebar>
    <div class="control-sidebar-bg"></div>
</div>
</template>

<style>
  aside.main-sidebar {
    height: 100%;
  }
  .content-wrapper {
    margin-top: -50px;
    padding-top: 50px;
    margin-bottom: -50px;
    padding-bottom: 50px;
  }
  .main-footer {
    height: 50px;
  }
</style>

<style lang="less" src="../assets/style.less"></style>

<script>
import Header from './header'
import Sidebar from './sidebar'
import Content from './content'
import Footer from './footer'
import Control from './control'
  
export default {
    components: {
        'layout-header': Header,
        'layout-sidebar': Sidebar,
        'layout-content': Content,
        'layout-footer': Footer,
        'control-sidebar': Control
    },
    mounted() { 
      
    }
}
</script>
