<template>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="#"><b>管理后台</b></a>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">登录你的管理员账号</p>
                <form ref="form">
                    <div class="form-group has-feedback">
                        <input type="text" name="username" class="form-control" placeholder="用户" ref="username">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="divide"></div>
                    <div class="form-group has-feedback">
                        <input type="password" name="password" class="form-control" placeholder="密码" ref="secret">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="divide"></div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-xs-12">
                            <Button type="submit" theme="primary" size="flat" class="btn-block">
                                登录
                            </Button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <!-- /.social-auth-links -->
            </div>
            <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->
    </body>

</template>
<style scoped>
  .login-page {
    overflow: hidden;
    background-color: white;
  }
</style>
<script>
  
export default {
    mounted: function() {    
				localStorage.clear();      
    }
}
</script>
