<template>
<li :class="[{'treeview': item.children},{'active': item.expanded}]">
    <a href="javascript:void(0);" v-if="item.children" @click="toggle(item)">
        <i :class="['fa', item.meta.icon]"></i> <span> {{item.title||item.name}}</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <router-link :exact=true v-else :to="{ path: item.path}">
        <i :class="['fa', 'fa-circle-o']"></i> <span> {{item.title||item.name}}</span>
    </router-link>
    <ul v-if="item.children" class="treeview-menu" :class="[{'slideup': !item.expanded},{'slidedown':item.expanded}]">
        <sidebar-item :item="item" v-for="item in item.children"></sidebar-item>
    </ul>
</li>
</template>

<script>
export default {
    name: "sidebar-item",
    props: {
        item: {}
    }, 
    methods: {
      toggle(item) {
          item.expanded = !item.expanded
          this.$forceUpdate()
      }
    }
}
</script>

<style lang="less">
.sidebar-menu {
    .treeview-menu > li > a {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    ul.treeview-menu {
      display: block;
      overflow-x: hidden;
      max-height: 0;
      &.slideup, &.slidedown {
          overflow-y: hidden;
      }
      &.slideup {
          transition: max-height 0.32s ease-in-out;  
          max-height: 0;        
      }
      &.slidedown {
          transition: max-height 0.48s ease-in-out;        
          max-height: 999px ;
      }
    }
}
  .sidebar-mini.sidebar-collapse {
    .sidebar-menu>li>.treeview-menu {
      max-height: none;      
    }
  }
</style>
