<template>
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <div class="sidebar sidebar-top-section clearfix">
<!--
        <form class="sidebar-form" @submit.prevent="filter">
            <div class="input-group">
                <input name="search" type="text" class="form-control" placeholder="搜索...">
                <span class="input-group-btn">
                <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>   
-->
        <ul class="sidebar-menu">    
          <li class="header"><span>导航栏</span></li>
        </ul>                
    </div>
    <section class="sidebar sidebar-menu-section clearfix"> 
        <ul class="sidebar-menu">    
          <sidebar-item :item="item" v-for="item in menu" ref="item"></sidebar-item>
        </ul>     
    </section>
    <!-- /.sidebar -->
</aside>
</template>

<style>
  .skin-blue .treeview-menu>li>a.active {
    color: #fff;
  }  
  .sidebar-top-section {
    height: 78px;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 996;
    background-color: #222d32;
  }  
  .sidebar-menu-section {
    height: 100%;
    padding-top: 78px;
    overflow-y: auto;
    transition: all 0.32s ease;
  }  
  .sidebar-mini.sidebar-collapse .sidebar-top-section {
    height: 0;
  }  
  .sidebar-mini.sidebar-collapse .sidebar-menu-section {
    padding-top: 0px;
    overflow-y: visible;
  }
</style>

<style lang="less">
.sidebar .header {
    text-align: center;
    margin: 25px 0 15px 0;
    text-transform: uppercase;
    font-size: 10px;
    color: #c8c8c8!important;  
}
.sidebar .header span {
    position: relative;
    padding-left: 6px;
    padding-right: 6px;
    z-index: 2;  
    &:before {
      content: '';
      position: absolute;
      border-bottom: 1px solid #4f5b5e;
      width: 200%;
      left: -50%;
      top: 6px;
      z-index: -1;    
    }
    &:after {
      content: '';
      position: absolute;
      background: #1a2226;
      width: 120%;
      height: 100%;
      top: 0;
      left: -10%;
      z-index: -1;    
    }
}  
</style>
<script>
  import SidebarItem from './sidebar-item.vue'

  export default {
    name: 'layout-sidebar',
    components: {
      'sidebar-item': SidebarItem
    },
    data: () => ({
      "filterKey": ""
    }),
    computed: {
      menu() {
        let router = this.$store.state.menu;
        return this.getMenu(router)
      }
    },
    methods: {
      filter(e) {
        this.filterKey = e.target.search.value;
      },
      getMenu(menu) {
        return menu.map(item => {
          if (item.appOnly) {
            return false
          }
          delete item.component;
          if (item.hasOwnProperty("children")) {
            item.expanded = false;
            item.children = this.getMenu(item.children);
          }
          return item;
        }).filter(Boolean)
      }
    },
    mounted() {
      let self = this;
    }
  }
</script>