<template>
  <button :type="type" :class="classname" ref="button" @click="handleClick">
    <slot></slot>
  </button>
</template>
<script>

import classNames from '../helpers/classnames.js';
  
export default {
  props: {
    theme: {
      default:"default"
    },
    size: {
      default:"normal"
    },
    type: {
      default:"button"
    }
  },
  computed: {
    classname: function () {
      let style = "btn-"+this.theme;
      let size = 'btn';      
      let sourceMap = {
          normal: '',        
          large: '-lg',
          small: '-sm',
          xsmall: '-xs',
          flat: '-flat'
      };      
      if (sourceMap.hasOwnProperty(this.size)) {
          size = size+sourceMap[this.size];
      } 
      return classNames("btn",style,size);         
    }
  },
  methods: {
    handleClick() {
      this.$emit("click")
    }
  }
}
</script>       

