<template>
  <input class="form-control" type="text" :placeholder="placeholder" :value="value" @input="onInput">
</template>

<script>
import Flatpickr from 'flatpickr'
import 'flatpickr/dist/themes/material_blue.css';
import l10n from 'flatpickr/dist/l10n/zh.js';  
const Zh = l10n.zh;
  
export default {
  props: {
    placeholder: {
      type: String,
      default: ''
    },
    options: {
      type: Object,
      default: () => ({
      	"locale":Zh        
      })
    },
    value: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      fp: null
    }
  },
  computed: {
    fpOptions () {
      return JSON.stringify(this.options)
    }
  },
  watch: {
    value (val) {
      this.fp.setDate(val)
    },
    fpOptions (newOpt) {
      const option = JSON.parse(newOpt)
      for (let property in option) {
        this.fp.set(property, option[property])
      }
    }
  },
  mounted () {
    this.fp = new Flatpickr(this.$el, this.options)
    this.$emit('FlatpickrRef', this.fp)
  },
  destroyed () {
    this.fp = null
  },
  methods: {
    onInput (e) {
      this.$emit('input', e.target.value)
      this.$destroy()
    }
  }
}
</script>