<template>
  <form class="form-horizontal" @submit.prevent="submitHandler($event)" @keydown="errors.clear($event)" ref="form">
    <slot></slot>
  </form>
</template>


<script>
  class Form {
    constructor(data) {
      this.originalData = data;
      for (let field in data) {
        this[field] = data[field]
      }
    }
  }
  class Errors {
    constructor() {
      this.hint = {        
      }
      this.isError = {
        require: function(value) {
          return value ? true:false;
        },
        checked: function(value) {
          return value ? true:false;
        },
        regExp: function(value,regExp) {
          if(regExp instanceof RegExp) {
            return value.match(regExp)
          }
        }        
      }
      this.prompt = {
        require: '请填写{name}',
        number: '{name}'        
      }
//      this.regExp = {
//        bracket : /\[(.*)\]/i,
//        decimal : /^\d*(\.)\d+/,
//        email   : /^[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$/i,
//        escape  : /[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g,
//        flags   : /^\/(.*)\/(.*)?/,
//        integer : /^\-?\d+$/,
//        number  : /^\-?\d*(\.\d+)?$/,
//        url     : /(https?:\/\/(?:www\.|(?!www))[^\s\.]+\.[^\s]{2,}|www\.[^\s]+\.[^\s]{2,})/i
//      }        
    }
    set(key,value) {
      let hint = {};
      hint[key] = value;
      this.hint = hint;
    }
    get() {
      return this.hint
    }
    clear() {
      this.hinit = {        
      }
    }
//    isError() {
//      return {
//
//      }
//    }
  }
  export default {
    data: () => ({
      errors: new Errors,
      form: new Form
    }),
    props: {
      fields: Object
    },
    methods: {
      submitHandler(e) {
        let value = this.getValue(e.currentTarget);
        let validition = this.valid(value);
        if(validition) {
          this.$emit("submit")
        } else {
          this.$emit("error",this.errors.get());
        }
      },
      getValue(form) {
        let elements = form && form.elements ? form.elements : [];
        let result = {}
        for (let i = 0; i < elements.length; ++i) {
          let element = elements[i]
          if (!element.name) {
            continue;
          }
          if (!this.fields.hasOwnProperty(element.name)) {
            continue;
          }
          let key = element.name;
          let value = element.value;
          if ((element.type === 'checkbox' || element.type === 'radio') && !element.checked) {
            value = false;
          }
          let existing = result[key];
          if (!existing) {
            result[key] = value;
          } else if (value) {
            result[key] += "," + value
          }
        }
        return result;
      },
      valid(result) {
        let form = this.$refs.form;

        let fields = this.fields;
        this.form = this.fields;
        
        let errors = this.errors;

        let response = true;

        for (let key of Object.keys(fields)) {

          //若form中不存在该元素,验证通过
          if (!form[key]) {
            continue;
          }
          let field = fields[key]
          if (field.hasOwnProperty("rules")) {
            field.rules.forEach(item => {
              let type = item.type;
              let factory = errors.isError;
              if (factory[type]) {
                let fn = factory[type];
                let value = result[key];
                if (!value) {
                  response = false
                  if(field.prompt) {
                    this.hint = field.prompt;
                  } else {
                    let name = field.title;                    
                    let prompt =  errors.prompt[type]; 
                    prompt = prompt.replace(/({([^>]+)})/ig,name)
                    errors.set(key,prompt);
                  }
                  return false;
                }
              }
            })
          }
        }        
        return response;
      }
    }
  }

</script>
