<template>
  <Box title="表单演示">
    <Form :fields="fields" ref="form" @submit="submit" @error="error">
      <input type="text" class="form-control" name="username">
      <Button type="submit">提交</Button>
    </Form>       
  </Box>
</template>

<script>
  const fields = {
    "username": {
      title: '用户名',
      rules: [{
        type: 'require'
          //          ,prompt : '用户名为必填项'
      }]
    },
    "test": {
      title: "哈哈"
    }
  }
  export default {
    data: () => ({
      "fields": fields
    }),
    methods: {
      submit() {
        Midway.alert("success");
      },
      error(errors) {
        console.log(errors);
      }
      
    },
    mounted() {      
//      this.$http.get('/api/get')
//        .then(function(response) {
//          console.log(response)
//        })
//        .catch(function(error) {
//          console.log(error)
//        })
    }
  }
</script>