<template>
  <Box title="模态框">
    <Button theme="warning" @click="alert">提示框</Button>
    <Button theme="primary" @click="confirm">确认框</Button>
  </Box>
</template>

<script>
export default {
  methods: {
    alert() {
      let message = {
        title: "提示框",
        content: "提示内容"
      }
      Midway.alert(message);
    },
    confirm() {
      let message = {
        title: "确认框",
        content: "确认内容"
      }
      Midway.confirm(message).then(function(){
        Midway.alert("确认操作")
      })
    }
  }
}
</script>