#story {
  font-family: 'Open Sans', Tahoma, Arial, sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.2px;
  line-height: 1.5;
  padding: 0;
  margin: 0 2em;
  text-align: center;
  #content {
    max-width: 50em;
    margin: 0 auto;
  }
  footer {
    text-align: center;
    margin: 2em 0;
    font-size: 0.8em;
  }
  input,
  textarea {
    font-family: 'Open Sans', Tahoma, Arial, sans-serif;
    font-size: 1em;
    padding: 0.25em 0.5em;
  }
  textarea {
    width: 100%;
  }
  p.inscription {
    margin-bottom: 2em;
  }
  p.error {
    margin-top: 2em;
    font-weight: bold;
    color: red;
  }
  p#status {
    font-size: 6em;
    font-weight: bold;
    margin: 0.25em;
  } 
  #status span,
  #content strong {
    cursor: pointer;
  }  
}

#story {
  user-select: none;
}