<template>
<div id="story">
	<div id="content">
		<p id="status" ><span>{{title}}</span></p>
		<p>Yeah you know it gets better</p>
		<p>And your <strong>Story</strong> is yet to be told</p>
	</div>  
</div>
</template>

<style lang="less" src="./story.less"></style>

<script>
  export default {
    data: () => ({
      title: 'Vue Story'
    }),
    methods: {

    },
    mounted() {      
    }
  }
</script>