body {
  .modal.animated {  
    animation-duration: .2s;
  }
  .modal {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    z-index: 1986;
    display: none;
    background-color: transparent;
    &.is-active {
      display: table;
      height: 100%;
      width: 100%;
    }
    .modal-background {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background-color: rgba(10, 10, 10, 0.8);
      z-index: 1986;
    }
    .modal-content {
      display: table-cell;
      vertical-align: middle;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: transparent;
    }
    .delete {
      user-select: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      background-color: rgba(10, 10, 10, 0.2);
      border: none;
      border-radius: 290486px;
      cursor: pointer;
      display: inline-block;
      font-size: 1rem;
      height: 20px;
      outline: none;
      position: absolute;
      right: 20px;
      top: 20px;
      left: auto;
      bottom: auto;
      transform: rotate(45deg);
      transform-origin: center center;
      vertical-align: top;
      width: 20px;
    }
    .delete:before,
    .delete:after {
      background-color: white;
      content: "";
      display: block;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    .delete:before {
      height: 2px;
      width: 50%;
    }
    .delete:after {
      height: 50%;
      width: 2px;
    }
    .content {
      color: #4a4a4a;
    }
    .button {
      -moz-appearance: none;
      -webkit-appearance: none;
      border: none;
      border-radius: 3px;
      box-shadow: none;
      font-size: 1.5rem;
      height: 2.5em;
      line-height: 2.5em;
      padding-left: 0.75em;
      padding-right: 0.75em;
      position: relative;
      vertical-align: middle;
      user-select: none;
      background-color: white;
      border: 1px solid #dbdbdb;
      color: #363636;
      cursor: pointer;
      padding-left: 0.75em;
      padding-right: 0.75em;
      text-align: center;
      white-space: nowrap;
      display: inline-block;
      &:hover {
          border-color: #b5b5b5;
          color: #363636;
      }        
      &.is-success {
        background-color: #23d160;
        border-color: transparent;
        color: #fff;
        &:hover {
          background-color: #22c65b;
          border-color: transparent;
          color: #fff;          
        }
      }    
    }
  }
}

.modal-content>* {
  z-index: 2000;
  position: relative;
  margin: 0 20px;
  overflow: auto;
}

@media screen and (min-width: 769px) {
  .modal-content>* {
    margin: 0 auto;
    width: 480px;
  }
}

.modal-card-head,
.modal-card-foot {
  background-color: whitesmoke;
  padding: 20px;
  position: relative;
}

.modal-card-head {
  border-bottom: 1px solid #dbdbdb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-card-foot {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #dbdbdb;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.modal-card-title {
  color: #363636;
  font-size: 2rem;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.modal-card-body {
  -webkit-overflow-scrolling: touch;
  background-color: white;
  overflow: auto;
  padding: 20px;
  max-height: 320px;
}

.is-clipped {
  overflow: hidden !important;
}