body {
  min-width: 960px;
  .animated { 
    animation-duration: .32s;
  }  
}

html ::selection {
  background: #00d1b2;
  color: #fff;
}

a {
  text-decoration: none !important;
}  

header.main-header, aside.main-sidebar , aside.control-sidebar , footer.main-footer{
  user-select: none;
}